body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 42px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666666;
}

strong {
  color: #232b2b;
  font-weight: normal;
}

p {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.section-btn {
  background-color: transparent;
  border: 3px solid #232b2b;
  border-radius: 100px;
  color: #232b2b;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #e3ae57;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  padding-bottom: 22px;
}

#about,
#service,
#experience,
#education,
#contact,
#projets {
  position: relative;
}

#home .container,
#about .container,
#experience .container,
#service .container,
#education .container,
#contact .container,
#projets .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#experience .experience-thumb,
#education .education-thumb {
  padding: 22px 42px 42px 42px;
}

#service,
#quotes,
footer {
  text-align: center;
}

#experience,
#education {
  background: #e9724c;
}

.background-image {
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  min-height: 75vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #e3ae57;
}

.bg-yellow {
  background: #e3ae57;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #161616;
}

/*---------------------------------------
    General               
-----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #e3ae57;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover,
a:active,
a:focus {
  color: #e3ae57;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #e3ae57;
  border-top-color: #f9f9f9;
  animation: spinner 0.6s linear infinite;
}

@-webkit-@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
  margin-bottom: 0;
  background-color: #ffffff;
}

.custom-navbar .navbar-brand {
  color: #333;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1px;
}

.custom-navbar .nav li a {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #e3ae57;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #e3ae57;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #e3ae57;
  border-color: transparent;
}

@media (min-width: 768px) {
  .custom-navbar {
    padding: 12px 0;
    border-bottom: 0;
    background: 0 0;
  }
  .custom-navbar.top-nav-collapse {
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    padding: 0;
  }
}

/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 18px;
}

#home .col-md-6 {
  background: #f1e2d7;
  /* light blue color: #c3eafd; */
  padding-right: 0;
  padding-left: 0;
}

#home .home-img {
  background: url("../assets/portrait3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}

#home .home-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 45px 0 45px;
}

/*---------------------------------------
   About section              
-----------------------------------------*/

#about .about-img {
  background: url("../assets/portrait2.jpg") no-repeat;
}

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232b2b;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}

/*---------------------------------------
   About section              
-----------------------------------------*/

#projets .projets-thumb,
#projets .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#projets .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#projets .progress-bar-primary {
  background: #232b2b;
}

#projets strong,
#projets span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}

/*---------------------------------------
    Service section              
-----------------------------------------*/

#service {
  background: #e9724c;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 22px 52px 22px;
}

#service .service-thumb .fa {
  font-size: 42px;
  padding-bottom: 22px;
}

/*---------------------------------------
    Experience section              
-----------------------------------------*/

#experience .experience-img {
  background: url("../assets/exp.jpg") no-repeat;
  background: cover;
}

#experience .media-heading {
  margin-bottom: 0px;
}

#experience .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#experience small {
  color: #633;
  font-weight: bold;
}

/*---------------------------------------
    Education section              
-----------------------------------------*/

#education {
  background: #e3ae57;
}

#education .education-img {
  background-size: contain;
  background: url("../assets/study.jpg");
}

#education .media-heading {
  margin-bottom: 0px;
}

#education .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#education small {
  color: #886d1e;
  font-weight: bold;
}

/*---------------------------------------
   Quotes section              
-----------------------------------------*/

#quotes {
  background: url("../images/quotes-bg.jpg") 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  position: relative;
  padding: 100px 0px;
}

#quotes .overlay {
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.7;
}

#quotes .fa {
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 22px;
}

#quotes p {
  padding-top: 32px;
}

/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  background: #e9724c;
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 75vh;
}

#contact .contact-img {
  background: url("../images/contact-img.jpg") no-repeat;
  min-height: 75vh;
}

#contact .contact-info {
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
#contact .form-control:-ms-input-placeholder {
  color: #ffffff;
}
#contact .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e3ae57;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #ffffff;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #161616;
  padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .fa {
  padding-right: 10px;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding: 140px 0px;
}

/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border: 2px solid transparent;
  color: #999;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
  background: #e3ae57;
  border-color: #ffffff;
  color: #ffffff;
  transform: scale(1.1);
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

.projetCase {
  height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
  }

  h3 {
    font-size: 22px;
    line-height: inherit;
  }
  .projetCase {
    height: 60vw;
  }
}
@media only screen and (min-width: 581px) and (max-width: 767px) {
  .projetCase {
    height: 35vh;
  }
}

@media only screen and (max-width: 767px) {
  .custom-navbar .navbar-brand {
    line-height: 18px;
  }

  #home .home-thumb {
    height: auto;
    padding-top: 32px;
    padding-bottom: 12px;
  }

  #home .container,
  #about .container,
  #experience .container,
  #service .container,
  #education .container,
  #contact .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  #about .col-md-3,
  #experience .col-md-6,
  #education .col-md-6,
  #contact .col-md-3 {
    padding: 0;
    margin: 0;
  }

  .background-image {
    position: relative;
    min-height: 65vh;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title {
    padding-bottom: 12px;
  }

  footer {
    padding: 40px 0;
  }
}
.section-title p {
  margin-top: -8px;
}
.section-title {
  margin-top: -16px;
}
.logo {
  width: 64px;
}

#projets {
  background: #e9724c;
}
.imgProjet {
  padding: 0px;
  overflow: hidden;
  position: relative;
}
.imgProjet img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.color-black {
  color: #222222;
  font-weight: 400;
}

.projetCase h4 {
  padding-top: 0px;
  padding-bottom: 8px;
  margin-top: 0px;
}
.projetCase h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.projetCase p {
}
.projetCase h3::before {
  content: "";
  display: inline-block;
  position: relative;
  top: calc(-0.1 * 1em);
  vertical-align: middle;
  height: calc(4px + 0.7em);
  margin-right: calc(5px + 0.2em);
  border-left: calc(5px + 0.1em) solid #f9591e;
}

::-webkit-scrollbar {
  width: 6px; /* largeur de la barre de défilement */
  height: 6px; /* hauteur de la barre de défilement */
}

/* Style du pouce de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #696969; /* couleur du pouce */
  border-radius: 3px;
}
.modal-content {
  padding: 32px;
  color: #222222;
  font-weight: 500;
}
.modal-content p {
  color: #222222;
  font-weight: 400;
}
.imgModal {
  width: 100%;
  border-radius: 8px;
}
.modal-content h2::before {
  content: "";
  display: inline-block;
  position: relative;
  top: calc(-0.1 * 1em);
  vertical-align: middle;
  height: calc(4px + 0.7em);
  margin-right: calc(5px + 0.2em);
  border-left: calc(5px + 0.1em) solid #f9591e;
}
.view-more {
  font-weight: 600;
  text-align: right;
  color: #222222;
}
.about-thumb p {
  color: #222222;
  font-weight: 400;
}

.warning-cadre {
  background-color: rgba(255, 0, 0, 0.75);
  border-radius: 8px;
  padding: 16px;
}
.icon-git {
  width: 128px;
  position: absolute;
  top: 8px;
  right: 16px;
}
.icon-git-cadre {
  width: 64px;
  position: absolute;
  top: -16px;
  right: -8px;
}
